/* GLOBAL */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}
.color-gray {
    color: rgb(101,101,101);
}
.color-white {
    color: white;
}
.font-small{
    font-size: 0.8em;
}
.margin-top {
    margin-top: 10px;
}
.padding-left {
    padding-left: 10px;
}
/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 90px);
}

/* MAIN-LEFT */
.main-left {
    width: 230px;
    height: 100%;
    background-color:black;
}

/* NAV-TOP */
/* LOGO */
main .main-left .nav-top {
    height: calc(100% - 80px);
    background-color:skyblue;
    padding:0 10px;
    padding-top: 20px;
  }
  main .main-left .nav-top .nav-logo {
      width: 60%;
  }
  main .main-left .nav-top .nav-logo img{
      width: 100%;
  }
  main .main-left .nav-top .nav-logo-mobile{
    display: none;
  }
  /* HOME */
  .main .main-left .home {
      width:100%;
  }
  .main .main-left .home .img {
      width: 20%;
  }
  .main .main-left .home .img img {
     max-width: 50px;
  }
  


  
  /* NAV-BOTTOM */
  main .main-left .nav-bottom {
    height: 80px;
    background-color: seashell;
  }



/* MAIN-RIGHT */
.main-right {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
}

/* NAV-UP */
.main-right .nav-up {
    position: fixed;
    top: 0;
    height: 90px;
    width: calc(100% - 230px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    line-height: 80px;
    vertical-align: middle;
}
.main-right .nav-up .button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
}
.main-right .nav-up .button a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

/* NAV-BOTTOM */
.main-right .nav-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    background-color: rgb(20, 25, 34);
    margin-top: 90px;
}
.main-right .nav-bottom a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}


/* MAIN-CONTENT */
.main-right .main-content {
    background-color: rgb(20, 25, 34);
    
}
.main-content .row-title {
    margin-bottom: 20px;
    padding-left: 10px;
}
.main-content  .row-album {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.main-content  .row-album .album {
    width: calc(100% / 6 - 20px);
    flex-shrink: 0;
    margin: 0 10px;
    text-align: center;
}
.main-content  .row-album .album .img {
    position: relative;
}
.main-content  .row-album .album .img img {
    width:100%;
    object-fit: cover;
}
.main-content  .row-album .album .img .far {
    display: none;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    z-index: 10;
}
.main-content  .row-album .album .img .overlay {
    display: none;
    position: absolute;
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.row-album .album .img:hover .far,
.row-album .album .img:hover .overlay {
    display: block;
}




/* FOOTER */
footer {
    height: 90px;
    background-color: rgb(40,40,40);
}

footer #player {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}


/* MEDIA QUERY */
/* XS */
@media all and (max-width: 600px) {
    main .main-left .nav-top .nav-logo-mobile{
        display:block;
    }
    main .main-left .nav-top .nav-logo{
        display: none;
    }
    main .main-left {
        width: 50px;
    }
    .main-right, .main-right .nav-up {
        width: calc(100% - 50px);
    }
     #played .album,
     #john .album,
     #artisti .album {
        width: calc(100% / 2 - 20px);
    }

}

/* S */
@media all and (min-width: 600px) and (max-width: 750) {
    #played .album {
        width: calc(100% / 2 - 20px);
    }
}

