/* GLOBAL */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}
.color-gray {
    color: rgb(101,101,101);
}
.color-white {
    color: white;
}
.font-small{
    font-size: 0.8em;
}
.font-xs {
    font-size: 0.7em;
}
.margin-top {
    margin-top: 10px;
}
.padding-left {
    padding-left: 10px;
}
.bg-gray {
    background-color: gray;
}
/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 90px);
}

/* MAIN-LEFT */
.main-left {
    width: 230px;
    height: 100%;
    background-color:black;
}

/* NAV-TOP */
/* LOGO */
main .main-left .nav-top {
    height: calc(100% - 80px);
    background-color:black;
    padding:0 10px;
    padding-top: 20px;
  }
  main .main-left .nav-top .nav-logo {
      width: 60%;
  }
  main .main-left .nav-top .nav-logo img{
      width: 100%;
  }
  main .main-left .nav-top .nav-logo-mobile{
    display: none;
  }
  /* HOME */
  #home {
    padding: 10px 0 20px 0;
  }
  main .main-left .item  {
     display: flex;
     height: 20px;
     align-items: center;
     padding-top: 20px;
  }
  main .main-left .item .img img {
     width: 20px;
  }
/* PLAYLIST */
#playlist {
    height: 50%;
    overflow: hidden;
}
#playlist .box {
    height: 30px;
    display: flex;
    align-items: center;
}
#playlist .box .plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
   
}
#playlist .box .plus .far {
    font-size: 2em;
    color: black;
    background-color: gray;
}
#playlist ul {
    height: 70%;
}
#playlist ul li {
    list-style: none;
    color: gray;
    padding-top: 5px;
    overflow-y: auto;
}  
#playlist ul li a {
    text-decoration: none;
}

  


  
  /* NAV-BOTTOM */
  main .main-left .nav-bottom {
    height: 80px;
    padding:0 10px;
    background-color: black;
  }
  .nav-bottom .app{
      border-bottom: 1px solid gray;
      padding: 5px 0;
  }
  .nav-bottom .app .circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid white;
      background-color: black;
  }
  .nav-bottom .app .circle .far {
      color: white;
  }
  main .main-left .utente img {
      width: 20px;
  }

/* MAIN-RIGHT */
.main-right {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
}

/* NAV-UP */
.main-right .nav-up {
    position: fixed;
    top: 0;
    height: 90px;
    width: calc(100% - 230px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    line-height: 80px;
    vertical-align: middle;
    z-index: 100;
}
.main-right .nav-up .button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
}
.main-right .nav-up .button a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

/* NAV-BOTTOM */
.main-right .nav-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    background-color: rgb(20, 25, 34);
    margin-top: 90px;
}
.main-right .nav-bottom a {
    text-decoration: none;
    color: gray;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
}


/* MAIN-CONTENT */
.main-right .main-content {
    background-color: rgb(20, 25, 34);
    
}
.main-content .row-title {
    margin-bottom: 20px;
    padding-left: 10px;
}
.main-content  .row-album {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.main-content  .row-album .album {
    width: calc(100% / 6 - 20px);
    flex-shrink: 0;
    margin: 0 10px;
    text-align: center;
}
.main-content  .row-album .album .img {
    position: relative;
}
.main-content  .row-album .album .img img {
    width:100%;
    object-fit: cover;
}
.main-content  .row-album .album .img .far {
    display: none;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    z-index: 10;
}
.main-content  .row-album .album .img .overlay {
    display: none;
    position: absolute;
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.row-album .album .img:hover .far,
.row-album .album .img:hover .overlay {
    display: block;
}
#artisti .row-album .album .img img {
    border-radius: 50%;
}




/* FOOTER */
footer {
    height: 90px;
    background-color: rgb(40,40,40);
}

footer #player {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
/* PLAYER-ALBUM */
footer #player .player-album {
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
footer #player .player-album .img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer #player .player-album .img img {
    width: 40px;
    margin-right: 5px;
}
footer #player .player-album .icon .fa-tablet {
    font-size: 1.2em;
}
footer #player .player-album .icon .fa-tablet,
footer #player .player-album .icon .fa-heart {
    color: lightslategray;
}
/* PLAYER-CONTROLLER */
footer #player .player-controller {
    width: calc(100% - 530px);
}
footer #player .player-controller .player-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer #player .player-controller .duration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
footer #player .player-controller .duration .duration-line {
    width: 50%;
    height: 4px;
    background-color: lightslategray;
    margin: 0 10px;
}
footer #player .player-controller .duration .duration-line .duration-line-inside {
    position: relative;
    width: 30%;
    height: 4px;
    background-color: cornsilk;
}
footer #player .circle {
    display: none;
    position: absolute;
    right:-8%;
    top: -90%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}
/* ICON */
footer #player .player-controller .icon .far,
footer #player .player-controller .icon .fas {
    font-size: 1.1em;
    margin: 0 10px;
}
footer #player .player-controller .icon .fa-play-circle {
    font-size: 1.5em;
    margin: 0 5px;
}
/* PLAYER-AUDIO */
footer #player .player-audio {
    width: 300px;
    height: 90px;
    line-height: 90px;
    vertical-align: middle;
}
footer #player .player-audio .volume-bar {
    display: inline-block;
    width: 200px;
    height: 4px;
    background-color: lightslategray;
    margin-bottom: 3px;
}
footer #player .player-audio .volume-bar .volume-inside-bar {
    position: relative;
    width: 50px;
    height:4px;
    background-color: cornsilk;
}
footer #player .volume-bar:hover .circle,
footer #player .duration-line:hover .circle {
    display: block;
}



/* MEDIA QUERY */
/* XS */
@media all and (max-width: 600px) {
    main .main-left .nav-top .nav-logo-mobile{
        display:block;
    }
    main .main-left .nav-top .nav-logo{
        display: none;
    }
    main .main-left {
        width: 50px;
    }
    .main-right, .main-right .nav-up {
        width: calc(100% - 50px);
    }
     #played .album,
     #john .album,
     #artisti .album {
        width: calc(100% / 2 - 20px);
    }

}

/* S */
@media all and (min-width: 600px) and (max-width: 750) {
    #played .album {
        width: calc(100% / 2 - 20px);
    }
}

